.repo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid;
}

.repo-header .light {
    border-bottom: 1px solid var(--light-border-color);
}

.repo-header h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.repo-header select {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
    width: 100px;
    padding: 2px;
}

.repo-header select {
    background-color: inherit;
    color: inherit;
}

.repo-header select:focus {
    outline: none;
}

.repo-list {
    list-style: none;
    padding: 0 !important;
    display: grid;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .repo-header h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .repo-header {
        margin-bottom: 1rem;
        padding: 1rem 0;
    }
    .repo-list {
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        gap: 1rem;
    }
}
