form {
    margin-top: 1rem;
}

input {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: transparent;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
}

.UserForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
}

.input-dark {
    border: 1px solid var(--dark-border-color);
    color: var(--dark-font-color);
}

.input-dark::placeholder {
    color: var(--dark-border-color);
}

.input-light {
    border: 1px solid var(--light-border-color);
    color: var(--light-font-color);
    
}

.input-light::placeholder {
    color: var(--light-border-color);
}

.UserForm {
    text-align: center;
}

.UserForm h1 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 1rem 0;
}

.icon {
    font-size: 2rem;
    margin: 2rem;
}

@media only screen and (min-width: 992px) {
    .UserForm h1 {
        font-size: 2.5rem;
        margin: 2rem;
    }
}