
.User {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.User h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 400;
}

.User ul {
    list-style: none;
    padding: 0;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.details a {
    text-decoration: none;
    color: inherit;
}

.details a:hover {
    text-decoration: underline;
}

.details ul {
    margin: 0;
}

.details ul > li {
    display: flex;
    align-items: center;
}

.details ul > li > svg {
    margin-right: 0.7rem;
}

.details hr {
    width: 100%;
    margin: 1rem 0 0.7rem 0;
}

.details p {
    margin: 0;
}

.avatar {
    border-radius: 50%;
    max-width: 260px;
    margin: 0 auto;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.stats ul {
    display: flex;
    justify-content: space-between;
}

.counts > li > h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .User {
        grid-template-columns: 1fr !important;
        grid-auto-flow: row;
    }

    .avatar {
        max-width: 160px;
    }

    .details {
        text-align: center;
    }
}