.Charts {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.chart-container {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.chart-container p {
    padding: 2rem 0;
    margin: 0;
}

.react-tabs__tab-list {
    font-family: 'Barlow', sans-serif;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
}

.react-tabs__tab--selected {
    background-color: transparent !important;
    color: inherit !important;
    text-decoration: underline;
}

.react-tabs__tab {
    padding: 1rem !important;
    bottom: 0 !important;
    width: 50%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
}

.react-tabs__tab:nth-child(2) {
    border-right: none !important;
}

.react-tabs__tab:focus:after {
    display: none !important;
}

.react-tabs__tab-panel {
    padding: 0 1rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .react-tabs__tab-list {
        font-size: 1.5rem;
        justify-content: flex-start;
    }

    .react-tabs__tab-panel {
        padding: 0 1rem;
        display: block !important;
    }

    .chart-container {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .Charts {
        border: 1px solid;
        border-radius: 0.25rem;
    }

    .chart-container {
        height: 450px;
        width: 450px;
    }

    .react-tabs__tab:hover {
        text-decoration: underline;
    }

    .react-tabs__tab:nth-child(1) {
        border-radius: 0.25rem 0 0 0!important;
    }
}
