.Header {
    padding: 1rem;
    border-bottom: 1px solid;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    height: 29px;
}

.Header a {
    text-decoration: none;
    color: inherit;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.Header svg {
    margin-right: 0.5rem;
}

.theme-swap {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.theme-swap:hover {
    cursor: pointer;
}