.Repo {
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: -1px;
    min-height: 200px;
    padding: 1rem;
}

.Repo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Repo a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

.Repo p {
    flex-grow: 1;
}

.repo-name h3 {
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 0;
}

.repo-name {
    display: flex;
    align-items: center;
}

.repo-name svg {
    margin-right: 0.7rem;
}

.repo-stats-container {
    display: flex;
    font-size: 1rem;
}

.repo-stats {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    list-style: none;
    padding: 0;
}

.repo-stats li {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.repo-stats svg {
    margin-right: 0.7rem;
}

@media only screen and (min-width: 600px) {
    .repo-name h3 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 992px) {
    .repo-name h3 {
        text-decoration: none;
    }

    .Repo:hover .repo-name h3 {
        text-decoration: underline;
    }

    .Repo {
        border: 1px solid;
        border-radius: 0.25rem;
        margin-top: 0;
    }
}
