:root {
    /* Dark Theme */
    --dark-background-color: #1a1b26;
    --dark-font-color: #c0caf5;
    --dark-border-color: #565f89;
    
    /* Light Theme */
    --light-background-color: #dcdde4;
    --light-font-color: #0f0f14;
    --light-border-color: #9699a3;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.dark {
    background: var(--dark-background-color);
    color: var(--dark-font-color);
    border-color: var(--dark-border-color);
}

.light {
    background: var(--light-background-color);
    color: var(--light-font-color);
    border-color: var(--light-border-color);
}

@media (prefers-color-scheme: light) {
    body {
        background: var(--light-background-color);
        color: var(--light-font-color);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-background-color);
        color: var(--dark-font-color);
    }
}